:root {
  /* --- Blue --- */
  --kingfisher-blue-50:  #E0F7FA;
  --kingfisher-blue-100: #B2EBF2;
  --kingfisher-blue-200: #80DEEA;
  --kingfisher-blue-300: #4DD0E1;
  --kingfisher-blue-400: #26C6DA;
  --kingfisher-blue-500: #00BCD4;
  --kingfisher-blue-600: #00ACC1;
  --kingfisher-blue-700: #0097A7;
  --kingfisher-blue-800: #00838F;
  --kingfisher-blue-900: #006064;
  --kingfisher-blue-950: #003840;

  /* --- Orange --- */
  --kingfisher-orange-50:  #FFF3E0;
  --kingfisher-orange-100: #FFE0B2;
  --kingfisher-orange-200: #FFCC80;
  --kingfisher-orange-300: #FFB74D;
  --kingfisher-orange-400: #FFA726;
  --kingfisher-orange-500: #FF9800;
  --kingfisher-orange-600: #FB8C00;
  --kingfisher-orange-700: #F57C00;
  --kingfisher-orange-800: #EF6C00;
  --kingfisher-orange-900: #E65100;
  --kingfisher-orange-950: #3B1F00;
  
  /* --- Neutral colors --- */
  --color-text-light: #263238;
  --color-text-dark: #ECEFF1;
  --color-bg-dark: #121212;
  --color-code-dark: #1E1E1E;
}

[data-md-color-scheme="subako-light"] {
  --md-primary-fg-color--dark: var(--kingfisher-blue-900);
  --md-primary-fg-color: var(--kingfisher-blue-900);
  --md-typeset-a-color: var(--kingfisher-orange-700);
  --md-accent-fg-color: var(--kingfisher-blue-900);
}

[data-md-color-scheme="subako-dark"] {
  --md-default-bg-color: var(--kingfisher-blue-900);
  --md-default-fg-color: var(--kingfisher-blue-50);
  --md-default-fg-color--light: var(--kingfisher-blue-50);
  --md-default-fg-color--lighter: var(--kingfisher-blue-50);
  --md-primary-fg-color: var(--kingfisher-orange-700);
  --md-primary-bg-color: var(--kingfisher-blue-50);
  --md-accent-fg-color: var(--kingfisher-blue-700);

  --md-typeset-color: var(--kingfisher-blue-50);
  --md-typeset-a-color: var(--kingfisher-blue-50);
  --md-typeset-mark-color: var(--kingfisher-orange-700);

  --md-code-bg-color: var(--kingfisher-blue-950);
  --md-code-fg-color: var(--kingfisher-blue-50);
}

.md-typeset .md-button {
  background-color: var(--md-default-fg-color--lightest);
  border: none;
  color: inherit;
}
.md-typeset .md-button:focus, .md-typeset .md-button:hover {
  background-color: var(--md-accent-fg-color);
  color: var(--md-accent-bg-color);
}
.md-draft {
  background-color: var(--kingfisher-blue-700);
}